a.example-image-link {
	display: inline-block;
	position: relative;
	width: 330px;
	height: 330px;
	border: 1px solid #272727;
	margin: 15px;
}

a.example-image-link img {
	margin: 0 auto;
	max-width: 90%;
	display: block;
	position: relative;
}
.flip-clock-divider .flip-clock-label {
    position: absolute;
    bottom: 10px;
    right: -67px;
    color: #fff;
    text-shadow: none;
}
.flip-clock-wrapper ul li a div div.inn {
	background-color: #595959;
}

.flip-clock-wrapper {
    text-align: center;
    position: relative;
    width: 76%;
    margin: 0 auto;
}