@font-face {
  font-family: "ImpactRegular";
  src: url("../fonts/ImpactRegular.eot");
  src: url("../fonts/ImpactRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ImpactRegular.woff") format("woff"), url("../fonts/ImpactRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoRegular"; */
@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular/LatoRegular.eot");
  src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoBold"; */
@font-face {
  font-family: "LatoBold";
  src: url("../fonts/LatoBold/LatoBold.eot");
  src: url("../fonts/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBold/LatoBold.woff") format("woff"), url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoItalic"; */
@font-face {
  font-family: "LatoItalic";
  src: url("../fonts/LatoItalic/LatoItalic.eot");
  src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoItalic/LatoItalic.woff") format("woff"), url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoLight"; */
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight/LatoLight.eot");
  src: url("../fonts/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight/LatoLight.woff") format("woff"), url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoBoldItalic"; */
@font-face {
  font-family: "LatoBoldItalic";
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"), url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "LatoLightItalic"; */
@font-face {
  font-family: "LatoLightItalic";
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"), url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
  min-width: 1167px; }

.contain {
  width: 1167px;
  display: block;
  margin: 0 auto;
  position: relative; }
  .contain:before, .contain:after {
    display: table;
    content: " "; }
  .contain:after {
    clear: both; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

.header {
  height: 150px;
  background-color: #000;
  display: block;
  position: relative;
  padding: 15px; }
  .header:after {
    content: "";
    position: absolute;
    width: 55%;
    height: 0;
    right: 0;
    bottom: -90px;
    margin-left: -54px;
    border: 45px solid transparent;
    border-top-color: #000;
    border-right: 0;
    z-index: 1; }
  .header h1 {
    font-family: "ImpactRegular";
    color: #fff;
    font-size: 50px;
    margin: 0;
    text-align: right; }
  .header p {
    color: #fff;
    font-family: "LatoLight";
    text-align: right;
    font-size: 20px; }
  .header__phones {
    display: block;
    float: right;
    padding: 0 15px; }
    .header__phones p {
      font-family: "LatoRegular";
      font-size: 20px;
      color: #fff; }
  .header h4 {
    color: #fff;
    font-family: "LatoBold";
    font-size: 23px;
    padding-left: 20px; }
  .header__but {
    background: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
    text-transform: uppercase;
    width: 180px;
    height: 31px;
    display: block;
    border: 1px solid #fff;
    -webkit-border-radius: 5px/3px 3px 3px 3px;
    -moz-border-radius: 5px/3px 3px 3px 3px;
    -ms-border-radius: 5px/3px 3px 3px 3px;
    border-radius: 5px/3px 3px 3px 3px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    margin: 5px 15px;
    float: right;
    font-weight: bold;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear; }
    .header__but:hover {
      text-decoration: none;
      background: white; }

.footer {
  display: block;
  float: left;
  position: relative;
  padding: 75px 15px 25px;
  background-color: #515151; }
  .footer h1 {
    font-family: "ImpactRegular";
    color: #fff;
    font-size: 50px;
    margin: 0;
    text-align: right; }
  .footer p {
    color: #fff;
    font-family: "LatoLight";
    text-align: right;
    font-size: 20px; }
  .footer__phones {
    display: block;
    float: right;
    padding: 0 15px; }
    .footer__phones p {
      font-family: "LatoRegular";
      font-size: 20px;
      color: #fff; }
  .footer h4 {
    color: #fff;
    font-family: "LatoBold";
    font-size: 23px;
    padding-left: 20px; }
  .footer__but {
    background: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
    text-transform: uppercase;
    width: 180px;
    height: 31px;
    display: block;
    color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 5px/3px 3px 3px 3px;
    -moz-border-radius: 5px/3px 3px 3px 3px;
    -ms-border-radius: 5px/3px 3px 3px 3px;
    border-radius: 5px/3px 3px 3px 3px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    margin: 5px 15px;
    float: right;
    font-weight: bold;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear; }
    .footer__but:hover {
      color: #000;
      text-decoration: none;
      background: white; }

.slide {
  display: block;
  position: relative;
  padding: 205px 0 150px;
  background-image: url("../img/bg1.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: fixed;
  background-size: cover; }
  .slide h1 {
    color: #fff;
    font-size: 50px;
    display: block;
    width: 75%;
    margin: 0 auto;
    font-family: "LatoLight";
    text-align: center; }
    .slide h1 b {
      font-family: "LatoBold"; }
  .slide__but {
    display: block;
    width: 327px;
    height: 49px;
    margin: 25px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #272727;
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.94);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.94);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.94);
    background-image: -moz-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
    background-image: -o-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
    background-image: -webkit-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
    background-image: linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    line-height: 49px;
    text-align: center;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear; }
    .slide__but:hover {
      text-decoration: none;
      color: #fff;
      background-image: -moz-linear-gradient(bottom, #04689b 0%, #1a92cd 100%);
      background-image: -o-linear-gradient(bottom, #04689b 0%, #1a92cd 100%);
      background-image: -webkit-linear-gradient(bottom, #04689b 0%, #1a92cd 100%);
      background-image: linear-gradient(bottom, #04689b 0%, #1a92cd 100%); }
  .slide:after {
    content: "";
    position: absolute;
    width: 55%;
    height: 0;
    left: 0;
    bottom: 0;
    margin-left: -54px;
    border: 45px solid transparent;
    border-bottom-color: #fff;
    border-left: 0;
    z-index: 1; }

.order {
  display: block;
  position: relative;
  border-bottom: 50px solid #fff;
  border-image: url("../img/bordBot.png") 70;
  border-top: 0; }
  .order h1 {
    display: block;
    width: 75%;
    margin: 50px auto;
    color: #272d32;
    font-size: 50px;
    color: #272d32;
    text-align: center;
    font-family: "LatoLight"; }
    .order h1 b {
      font-family: "LatoBold";
      color: #1a98d7; }
  .order__clock {
    display: block;
    position: relative;
    height: 406px;
    width: 100%;
    background-image: url("../img/clock1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0; }
    .order__clock__price {
      display: block;
      position: absolute;
      top: -20px;
      right: -60px;
      background-image: url("../img/orderPrice.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 164px;
      height: 163px;
      z-index: 9; }
  .order__options {
    display: block;
    position: relative;
    height: 406px;
    width: 100%;
    background-image: url("../img/options.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    z-index: 0; }
  .order__form {
    width: 100%;
    display: block;
    position: relative;
    height: 473px;
    padding: 15px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #272727; }
    .order__form h3 {
      font-family: "LatoLight";
      text-align: center;
      color: #fff;
      font-size: 23px; }
      .order__form h3 b {
        font-family: "LatoBold"; }
    .order__form__input {
      display: block;
      width: 100%;
      margin: 20px 0;
      height: 48px;
      line-height: 48px;
      border: 1px solid #2da5e1;
      -webkit-border-radius: 6px/6px 6px 6px 6px;
      -moz-border-radius: 6px/6px 6px 6px 6px;
      -ms-border-radius: 6px/6px 6px 6px 6px;
      border-radius: 6px/6px 6px 6px 6px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff; }
    .order__form__sub, .photo__but, .options__but {
      display: block;
      margin: 20px 0;
      width: 100%;
      height: 48px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #272727;
      -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.94);
      -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.94);
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.94);
      background-image: -moz-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
      background-image: -o-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
      background-image: -webkit-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
      background-image: linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
      color: #fff;
      border: 0;
      font-weight: bold;
      font-size: 21px;
      line-height: 49px;
      text-align: center;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear; }
      .order__form__sub:hover, .photo__but:hover, .options__but:hover {
        text-decoration: none;
        outline: none;
        color: #fff;
        background-image: -moz-linear-gradient(bottom, #04689b 0%, #1a92cd 100%);
        background-image: -o-linear-gradient(bottom, #04689b 0%, #1a92cd 100%);
        background-image: -webkit-linear-gradient(bottom, #04689b 0%, #1a92cd 100%);
        background-image: linear-gradient(bottom, #04689b 0%, #1a92cd 100%); }
      .order__form__sub:active, .photo__but:active, .options__but:active, .order__form__sub:focus, .photo__but:focus, .options__but:focus {
        outline: none; }
    .order__form p {
      text-align: center;
      color: #fff;
      font-size: 18px;
      font-family: "LatoLight"; }

.video {
  display: block;
  height: 840px;
  padding: 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: center 65%;
  background-image: url("../img/bg2.png"); }
  .video:after {
    content: "";
    position: absolute;
    width: 55%;
    height: 0;
    left: 0;
    bottom: 0;
    margin-left: -54px;
    border: 45px solid transparent;
    border-bottom-color: #fff;
    border-left: 0;
    z-index: 1; }
  .video h1 {
    text-align: center;
    font-family: "LatoLight";
    color: #272727;
    margin-top: 55px;
    font-size: 46px; }
    .video h1 b {
      font-family: "LatoBold"; }
  .video__box {
    display: block;
    position: relative;
    width: 610px;
    height: 360px;
    margin: 150px auto 0; }
    .video__box iframe {
      display: block;
      float: right; }

.photo {
  display: block;
  position: relative;
  border-bottom: 50px solid #fff;
  border-image: url("../img/bordBot.png") 70;
  border-top: 0; }
  .photo__box {
    margin: 0 39px; }
  .photo__but, .options__but {
    float: right;
    width: 330px;
    margin-right: 54px; }
  .photo h1 {
    text-align: center;
    font-size: 50px;
    color: #272727;
    font-family: "LatoLight";
    margin: 50px 0; }
    .photo h1 b {
      font-family: "LatoBold"; }

.options {
  display: block;
  position: relative;
  padding: 25px 0; }
  .options:after {
    content: "";
    position: absolute;
    width: 55%;
    height: 0;
    right: 0;
    bottom: -90px;
    margin-left: -54px;
    border: 45px solid transparent;
    border-top-color: #fff;
    border-right: 0;
    z-index: 1; }
  .options__watch {
    display: block;
    float: left;
    width: 25%;
    height: 408px;
    background-image: url("../img/clock2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 25px 0; }
  .options__desc {
    display: block;
    float: left;
    width: 75%;
    height: 300px;
    background-image: url("../img/opt.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 80% 0;
    margin: 75px 0; }
  .options h1 {
    text-align: center;
    color: #272727;
    font-size: 60px;
    font-family: "LatoLight"; }

.optionBut {
  display: block;
  position: relative;
  background-image: url("../img/bg3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px 0; }
  .optionBut:after {
    content: "";
    position: absolute;
    width: 55%;
    height: 0;
    left: 0;
    bottom: 0;
    margin-left: -54px;
    border: 45px solid transparent;
    border-bottom-color: #fff;
    border-left: 0;
    z-index: 1; }
  .optionBut__block {
    display: block;
    width: 25%;
    float: left; }
    .optionBut__block__img {
      display: block;
      width: 81px;
      height: 81px;
      margin: 0 auto;
      line-height: 81px; }
      .optionBut__block__img img {
        display: inline-block;
        line-height: normal;
        vertical-align: middle; }
  .optionBut p {
    color: #fff;
    font-family: "LatoBold";
    font-size: 24px;
    margin-top: 15px;
    text-align: center; }

.advantages {
  display: block;
  position: relative; }
  .advantages:after {
    content: "";
    position: absolute;
    width: 55%;
    height: 0;
    right: 0;
    bottom: -90px;
    margin-left: -54px;
    border: 45px solid transparent;
    border-top-color: #fff;
    border-right: 0;
    z-index: 1; }
  .advantages h1 {
    color: #272727;
    font-family: "LatoLight";
    font-size: 54px;
    text-align: center;
    margin: 50px 0; }
    .advantages h1 b {
      color: #2a97d5;
      font-family: "LatoBold"; }
  .advantages__block {
    display: block;
    position: relative;
    float: left;
    height: 320px;
    width: 100%;
    margin: 10px 0;
    padding: 0 125px; }
    .advantages__block h3 {
      color: #2a97d5;
      font-family: "LatoBold";
      font-size: 29px; }
    .advantages__block p {
      color: #272727;
      font-family: "LatoLight";
      font-size: 23px;
      display: block;
      max-width: 400px; }
      .advantages__block p b {
        font-family: "LatoBold"; }
    .advantages__block__img {
      display: block;
      float: left;
      width: 50%; }
      .advantages__block__img img {
        display: block;
        margin: 0 auto; }
    .advantages__block__text {
      display: block;
      position: relative;
      float: left;
      width: 50%;
      padding-left: 75px; }
  .advantages__but, .how__but {
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 50px 0; }
    .advantages__but a, .how__but a {
      display: block;
      width: 330px;
      margin: 0 auto;
      margin: 25px auto;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #272727;
      -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.94);
      -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.94);
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.94);
      background-image: -moz-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
      background-image: -o-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
      background-image: -webkit-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
      background-image: linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
      color: #fff;
      font-weight: bold;
      font-size: 21px;
      line-height: 49px;
      text-align: center;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear; }
      .advantages__but a:hover, .how__but a:hover {
        text-decoration: none;
        color: #fff;
        background-image: -moz-linear-gradient(bottom, #04689b 0%, #1a92cd 100%);
        background-image: -o-linear-gradient(bottom, #04689b 0%, #1a92cd 100%);
        background-image: -webkit-linear-gradient(bottom, #04689b 0%, #1a92cd 100%);
        background-image: linear-gradient(bottom, #04689b 0%, #1a92cd 100%); }

.reviews {
  display: block;
  position: relative;
  background-color: #eeeded;
  padding: 75px 0 100px; }
  .reviews:after {
    content: "";
    position: absolute;
    width: 55%;
    height: 0;
    left: 0;
    bottom: 0;
    margin-left: -54px;
    border: 45px solid transparent;
    border-bottom-color: #fff;
    border-left: 0;
    z-index: 1; }
  .reviews h1 {
    color: #272727;
    font-family: "LatoLight";
    font-size: 50px;
    text-align: center;
    display: block;
    width: 65%;
    margin: 25px auto; }
    .reviews h1 b {
      font-family: "LatoBold"; }
  .reviews__block {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    padding: 0 100px;
    margin: 25px 0; }
    .reviews__block__img {
      display: block;
      float: left;
      width: 25%; }
      .reviews__block__img img {
        display: block;
        margin: 0 auto;
        width: 196px;
        height: 196px;
        -webkit-border-radius: 98px;
        -moz-border-radius: 98px;
        -ms-border-radius: 98px;
        border-radius: 98px;
        -o-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #373737; }
    .reviews__block__text {
      display: block;
      float: left;
      width: 75%;
      padding: 0 25px; }
      .reviews__block__text h3 {
        color: #373737;
        font-family: "LatoBold";
        font-size: 18px; }
      .reviews__block__text p {
        color: #545353;
        font-family: "LatoRegular";
        font-size: 14px; }

.how {
  display: block;
  position: relative;
  padding: 50px 0; }
  .how:after {
    content: "";
    position: absolute;
    width: 55%;
    height: 0;
    right: 0;
    bottom: -90px;
    margin-left: -54px;
    border: 45px solid transparent;
    border-top-color: #fff;
    border-right: 0;
    z-index: 1; }
  .how h1 {
    color: #272727;
    font-family: "LatoLight";
    font-size: 50px;
    text-align: center;
    margin-bottom: 25px; }
  .how .how__row {
    display: block;
    width: 100%; }
  .how .how__block {
    width: 33.33333%;
    display: block;
    float: left;
    margin: 50px 0;
    padding: 0 20px; }
    .how .how__block__img {
      width: 100%;
      height: 124px;
      margin-bottom: 25px; }
      .how .how__block__img img {
        display: block;
        margin: 0 auto; }
    .how .how__block h2 {
      color: #049dff;
      font-family: "LatoBold";
      font-size: 32px;
      text-align: center; }
    .how .how__block p {
      color: #333333;
      font-family: "LatoRegular";
      font-size: 20px;
      text-align: center; }
  .how__but {
    margin: 0; }

/*# sourceMappingURL=style.css.map */
