.modal-dialog{
    width: 400px;
    display: block;
    position: relative;
    padding: 15px 30px;
    @include border-radius(10px);
    @include background-clip(padding-box);
    background-color: #272727;
    h3 {
      font-family: $l;
      text-align: center;
      color: #fff;
      font-size: 23px;
      b {
        font-family: $b;
      }
    }

    p {
      text-align: center;
      color: #fff;
      font-size: 18px;
      font-family: $l;
    }
}

#callme{
  background-color: rgba(0, 0, 0, 0.51);
}

.modal-header {
  border-bottom: 0;
  padding: 0;
  .close {    
    width: 30px;
    height: 30px;
    background-image: url("../img/close.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: -30px -20px 0 0;
    opacity: 1;
    outline: none;
  }
}