.slide {
	display: block;
	position: relative;
	padding: 205px 0 150px;
	background-image: url("../img/bg1.png");
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-attachment: fixed;
	background-size: cover;
	h1 {
		color: #fff;
		font-size: 50px;
		display: block;
		width: 75%;
		margin: 0 auto;
		font-family: "LatoLight";
		text-align: center;
		b {
			font-family: "LatoBold";
		}
	}

	&__but {
		display: block;
		width: 327px;
		height: 49px;
		margin: 25px auto;
		@include border-radius(5px);
		@include background-clip(padding-box);
		background-color: #272727;
		@include box-shadow(1px, 2px, 4px, rgba(0,0,0,.94));		
		background-image: -moz-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
		background-image: -o-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
		background-image: -webkit-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
		background-image: linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
		color: #fff;
		font-weight: bold;
		font-size: 21px;
		line-height: 49px;
		text-align: center;
		@include transition(0.5s);
		&:hover {
			text-decoration: none;
			color: #fff;
			background-image: -moz-linear-gradient(bottom, darken(#0589cd, 10%) 0%, darken(#35abe5, 10%) 100%);;
			background-image: -o-linear-gradient(bottom, darken(#0589cd, 10%) 0%, darken(#35abe5, 10%) 100%);
			background-image: -webkit-linear-gradient(bottom, darken(#0589cd, 10%) 0%, darken(#35abe5, 10%) 100%);
			background-image: linear-gradient(bottom, darken(#0589cd, 10%) 0%, darken(#35abe5, 10%) 100%);
		}
	}

	&:after {
		content: "";
		position: absolute;
		width: 55%;
		height: 0;
		left: 0;
		bottom: 0;
		margin-left: -54px;
		border: 45px solid transparent;
		border-bottom-color: #fff;
		border-left: 0;
		z-index: 1;
	} 
}

.order {
	display: block;
	position: relative;
	border-bottom: 50px solid #fff;
  	border-image: url("../img/bordBot.png") 70;
  	border-top: 0;
	h1 {
		display: block;
		width: 75%;
		margin: 50px auto;
		color: #272d32;
		font-size: 50px;
		color: #272d32;
		text-align: center;
		font-family: "LatoLight";
		b {
			font-family: "LatoBold";
			color: #1a98d7;
		}
	}

	&__clock {
		display: block;
		position: relative;
		height: 406px;
		width: 100%;
		background-image: url("../img/clock1.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 0;
		&__price {
			display: block;
			position: absolute;
			top: -20px;
			right: -60px;
			background-image: url("../img/orderPrice.png");
			background-repeat: no-repeat;
			background-size: cover;
			width: 164px;
			height: 163px;
			z-index: 9;
		}
	}

	&__options {
		display: block;
		position: relative;
		height: 406px;
		width: 100%;
		background-image: url("../img/options.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50%;
		z-index: 0;
	}

	&__form {
		width: 100%;
		display: block;
		position: relative;
		height: 473px;
		padding: 15px 30px;
		@include border-radius(10px);
		@include background-clip(padding-box);
		background-color: #272727;
		h3 {
			font-family: $l;
			text-align: center;
			color: #fff;
			font-size: 23px;
			b {
				font-family: $b;
			}
		}
		&__input {
			display: block;
			width: 100%;
			margin: 20px 0;
			height: 48px;
			line-height: 48px;
			border: 1px solid #2da5e1;
			@include border-radius(6px / 6px 6px 6px 6px);
			@include background-clip(padding-box);
			background-color: #fff;
		}

		&__sub {
			display: block;
			margin: 20px 0;
			width: 100%;
			height: 48px;
			@include border-radius(5px);
			@include background-clip(padding-box);
			background-color: #272727;
			@include box-shadow(1px, 2px, 4px, rgba(0,0,0,.94));	
			background-image: -moz-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
			background-image: -o-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
			background-image: -webkit-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
			background-image: linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
			color: #fff;
			border: 0;
			font-weight: bold;
			font-size: 21px;
			line-height: 49px;
			text-align: center;
			@include transition(0.5s);
			&:hover {
				text-decoration: none;
				outline: none;
				color: #fff;
				background-image: -moz-linear-gradient(bottom, darken(#0589cd, 10%) 0%, darken(#35abe5, 10%) 100%);;
				background-image: -o-linear-gradient(bottom, darken(#0589cd, 10%) 0%, darken(#35abe5, 10%) 100%);
				background-image: -webkit-linear-gradient(bottom, darken(#0589cd, 10%) 0%, darken(#35abe5, 10%) 100%);
				background-image: linear-gradient(bottom, darken(#0589cd, 10%) 0%, darken(#35abe5, 10%) 100%);
			}
			&:active, &:focus {
				outline: none;
			}
		}

		p {
			text-align: center;
			color: #fff;
			font-size: 18px;
			font-family: $l;
		}
	}
}

.video {
	display: block;
	height: 840px;
	padding: 50px 0;
	position: relative;
	background-repeat: no-repeat;
	background-position: center 30%;
	background-image: url("../img/bg2.png");
	&:after {
		content: "";
		position: absolute;
		width: 55%;
		height: 0;
		left: 0;
		bottom: 0;
		margin-left: -54px;
		border: 45px solid transparent;
		border-bottom-color: #fff;
		border-left: 0;
		z-index: 1;
	} 

	h1 {
		text-align: center;
		font-family: $l;
		color: #272727;
		margin-top: 55px;
		font-size: 46px;
		b {
			font-family: $b;
		}
	}

	&__box {
		display: block;
		position: relative;
		width: 610px;
		height: 360px;
		margin: 150px auto 0;
		iframe {
			display: block;
			float: right;
		}
	}
}

.photo {
	display: block;
	position: relative;
	border-bottom: 50px solid #fff;
  	border-image: url("../img/bordBot.png") 70;
  	border-top: 0;
	&__box {
		margin: 0 39px;
	}
	&__but {
		@extend .order__form__sub;
		float: right;
		width: 330px;
		margin-right: 54px;
	}

	h1 {
		text-align: center;
		font-size: 50px;
		color: #272727;
		font-family: $l;
		margin: 50px 0;
		b {
			font-family: $b;
		}
	}
}