html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #fff;
	min-width: 1167px;
}

.contain {
	width: 1167px;
	display: block;
	margin: 0 auto;
	position: relative;
	&:before,
	&:after{		
		display: table;
  		content: " ";
	}
	&:after{
		clear: both;
	}
}



a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		outline: none;
	}
}

ul {
	list-style-type: none;
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
    color: #fff;
}

span.wpcf7-not-valid-tip {
	color: #fff;
}

.p0 {
	padding: 0;
}

.internal_links {
  position: relative;
  top: -90px;
}